<div class="dialog-container">
    @if (loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }


    <h2 mat-dialog-title>Add guest</h2>

    <form (ngSubmit)="onSubmit(addUserForm)" #addUserForm="ngForm">
        <mat-dialog-content>
            <div class="input-container full-width pt-16">
                <mat-form-field appearance="outline">
                    <mat-label>First name</mat-label>
                    <input [disabled]="loading" [(ngModel)]="guest.firstName" matInput placeholder="First name" required
                        #firstName="ngModel" name="firstName" minlength="3">
                    @if (firstName.touched && !firstName.valid) {
                    <mat-hint color="alert">Please enter at least 3 letters</mat-hint>
                    }

                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input [disabled]="loading" [(ngModel)]="guest.lastName" matInput placeholder="Last name" required
                        #lastName="ngModel" name="lastName" minlength="3">
                    @if (lastName.touched && !lastName.valid) {
                    <mat-hint color="alert">Please enter at least 3 letters</mat-hint>
                    }
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input [disabled]="loading" type="email" [(ngModel)]="guest.email" matInput required
                        #email="ngModel" name="email" placeholder="E-Mail" pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                    @if (email.touched && !email.valid) {
                    <mat-hint color="alert">Please enter valid email address</mat-hint>
                    }
                </mat-form-field>
            </div>

            <div class="input-container full-width pt-16">
                <mat-form-field appearance="outline">
                    <mat-label>Arrival date</mat-label>
                    <input [(ngModel)]="dateOfArrival" matInput [matDatepicker]="arrival" required
                        #arrivalDate="ngModel" name="arrivalDate">
                    @if (arrivalDate.touched && !arrivalDate.valid) {
                    <mat-hint color="alert">MM/DD/YYYY</mat-hint>
                    }
                    <mat-datepicker-toggle matIconSuffix [for]="arrival"></mat-datepicker-toggle>
                    <mat-datepicker #arrival></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Leaving Date</mat-label>
                    <input [(ngModel)]="dateOfLeaving" matInput [matDatepicker]="leaving" required
                        #leavingDate="ngModel" name="leavingDate">
                    @if (leavingDate.touched && !leavingDate.valid) {
                    <mat-hint color="alert">MM/DD/YYYY</mat-hint>
                    }
                    <mat-datepicker-toggle matIconSuffix [for]="leaving"></mat-datepicker-toggle>
                    <mat-datepicker #leaving></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="input-container full-width pt-16">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Board</mat-label>
                        <mat-select [(ngModel)]="guest.board" name="board" #board>
                            <mat-option value="Yes">Yes</mat-option>
                            <mat-option value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Board Type</mat-label>
                        <input [disabled]="loading || board.value=='Yes'" [(ngModel)]="guest.boardType" matInput
                            placeholder="Board type" #boardType="ngModel" name="boardType">
                    </mat-form-field>

                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Wetsuit</mat-label>
                        <mat-select [(ngModel)]="guest.wetsuit" name="wetsuit" #wetsuit>
                            <mat-option value="Yes">Yes</mat-option>
                            <mat-option value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Wetsuit size</mat-label>
                        <input [disabled]="loading || wetsuit.value=='Yes'" [(ngModel)]="guest.wetsuitSize" matInput
                            placeholder="Wetsuit Size" #wetsuitSize="ngModel" name="wetsuitSize">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Allergies</mat-label>
                        <mat-select [(ngModel)]="guest.allergies" name="allergies" #allergies>
                            <mat-option value="Yes">Yes</mat-option>
                            <mat-option value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Type of allergy</mat-label>
                        <input [disabled]="loading || allergies.value=='No'" [(ngModel)]="guest.allergyType" matInput
                            placeholder="Allergy type" #allergyType="ngModel" name="allergyType">
                    </mat-form-field>
                </div>

            </div>

            <div class="input-container full-width pt-16">
                
                <mat-form-field appearance="outline">
                    <mat-label>Room Preference</mat-label>
                    <mat-select [(ngModel)]="guest.roomPreference" name="roomPreference" #roomPreference>
                        <mat-option value="private">Private room</mat-option>
                        <mat-option value="double">Double room</mat-option>
                        <mat-option value="dorm">Dorm room</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Transfer</mat-label>
                    <mat-select [(ngModel)]="guest.transfer" name="wetsuit" #wetsuit>
                        <mat-option value="no transfer">No transfer</mat-option>
                        <mat-option value="santiago">Santiago</mat-option>
                        <mat-option value="coruna">Coruña</mat-option>
                        <mat-option value="ferrol">Ferrol</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Street + HouseNo</mat-label>
                    <input [disabled]="loading" [(ngModel)]="guest.street" matInput placeholder="Address"
                        #street="ngModel" name="street">
                </mat-form-field>
            </div>

            <div class="input-container full-width">
                <mat-form-field appearance="outline">
                    <mat-label>Zip code</mat-label>
                    <input [disabled]="loading" [(ngModel)]="guest.zipCode" matInput placeholder="Zipcode"
                        #zipCode="ngModel" type="number" name="zipCode" pattern="[0-9]{5}" inputmode="numeric">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input [disabled]="loading" [(ngModel)]="guest.city" matInput placeholder="City" #city="ngModel"
                        name="city">
                </mat-form-field>
            </div>

        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button (click)="closeDialog(addUserForm)">Cancel</button>
            <button mat-button [disabled]="loading || !addUserForm.valid"><input
                    [disabled]="loading || !addUserForm.valid" type="submit" value="Save"></button>
            <!-- <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button> -->
        </mat-dialog-actions>
    </form>

</div>