.add-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

mat-card {
    padding-left: 0;
    padding-right: 0;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid rgba(255, 255, 255, 0.85);
        &:last-child {
            border-bottom: 0;
        }
        cursor: pointer;

        &:first-child {
            cursor: unset;
            &:hover {
                background-color: unset;
            }
        }
        td {
            height: 48px;
            &:first-child {
                padding-left: 16px;
            }
        }
        th {
            color: rgba(255, 255, 255, 0.85);
            font-size: 14px;
            font-weight: 500;
            text-align: start;
            height: 48px;
            &:first-child {
                padding-left: 16px;
            }
        }

        &:hover {
            background-color: #7c7878;
        }
        
    }

    

    th {
        color: rgba(255, 255, 255, 0.85);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
    }
}