<mat-card>
    <mat-card-content>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Arrival Date</th>
                <th>Leaving Date</th>
            </tr>
            @for (user of firebaseService.userList; track user.id; let i = $index ) {
                <tr>
                    <td>{{ capitalizeFirstLetter(user.firstName)}} {{ capitalizeFirstLetter(user.lastName) }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ getRightDateFormat(user.arrivalDate) }}</td>
                    <td>{{ getRightDateFormat(user.leavingDate) }}</td>
                </tr>
            }
            
        </table>
    </mat-card-content>
</mat-card>

<button mat-fab color="primary" class="add-btn" matTooltip="Add user" [matTooltipPosition]="'above'"
    (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>
