<h2 mat-dialog-title>Edit profile</h2>
<form (ngSubmit)="onSubmit(editGuestForm)" #editGuestForm="ngForm">
    <mat-dialog-content>
        <div class="input-container full-width pt-16">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input [disabled]="loading" [(ngModel)]="guest.firstName" matInput placeholder="First name" required
                    #firstName="ngModel" name="firstName" minlength="3">
                @if (firstName.touched && !firstName.valid) {
                <mat-hint color="alert">Please enter at least 3 letters</mat-hint>
                }

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input [disabled]="loading" [(ngModel)]="guest.lastName" matInput placeholder="Last name" required
                    #lastName="ngModel" name="lastName" minlength="3">
                @if (lastName.touched && !lastName.valid) {
                <mat-hint color="alert">Please enter at least 3 letters</mat-hint>
                }
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input [disabled]="loading" type="email" [(ngModel)]="guest.email" matInput required #email="ngModel"
                    name="email" placeholder="E-Mail" pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                @if (email.touched && !email.valid) {
                <mat-hint color="alert">Please enter valid email address</mat-hint>
                }
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="closeDialog(editGuestForm)">Cancel</button>
        <button mat-button [disabled]="loading || !editGuestForm.valid"><input
                [disabled]="loading || !editGuestForm.valid" type="submit" value="Save"></button>
        <!-- <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button> -->
    </mat-dialog-actions>
</form>