.mat-drawer-container {
    height: 100vh;
}

.sidenav {
    width: 300px;
    
}

.logo-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
}

mat-toolbar, mat-toolbar-row {
    height: 56px;
    min-height: 56px;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    li {
        cursor: pointer;
        padding: 0 16px;
        height: 48px;
        display: flex;
        align-items: center;
        gap: 16px;
        &:hover {
            background-color:rgb(255, 255, 255, 0.15) ;
        }
    }
}

.router-container {
    padding: 16px 56px;
}
