/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 100%;
}

.pt-16 {
    padding-top: 16px;
}

.mt-32 {
    margin-top: 32px;
}

input[type="submit"] {
    background: transparent;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #C2185B #6B6767;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #6B6767;
}

*::-webkit-scrollbar-track:hover {
    background-color: #928E8E;
}

*::-webkit-scrollbar-track:active {
    background-color: #928E8E;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #C2185B;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #AF1652;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #AF1652;
}